// 配置项目全局样式

// 左侧菜单宽度
$base-menu-width: 260px;

// 左侧菜单背景颜色
$base-menu-background: #001519;

// 顶部导航·高度
$base-menu-height:50px;

// 左侧菜单logo高度

$base-menu-logo-height:50px;

// 左侧菜单logo高度字体大小

$base-menu-logo-fontSize:20px;
